body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  // background-color: transparent;
  background-image: url("../images/black_paper.jpg");
}

.app {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: inherit;
    background-color: #f0f3f4;
    border: inherit;
    content: "";
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

// .app-content {
//   height: 100%;

//   &:before, &:after {
//     display: table;
//     content: " ";
//   }

//   &:after {
//     clear: both;
//   }
// }

// .app-content-full {
//   position: absolute;
//   top: 50px;
//   bottom: 50px;
//   width: auto !important;
//   height: auto;
//   padding: 0 !important;
//   overflow-y: auto;
//   -webkit-overflow-scrolling: touch;

//   &.h-full {
//     bottom: 0;
//     height: auto;
//   }

//   &.h-top {
//     top: 0;
//   }
// }

// .app-content-body {
//   float: left;
//   width: 100%;
//   padding-bottom: 50px;
// }

// .hbox {
//   display: table;
//   width: 100%;
//   height: 100%;
//   border-spacing: 0;
//   table-layout: fixed;

//   .col {
//     display: table-cell;
//     float: none;
//     height: 100%;
//     vertical-align: top;
//   }
// }

.v-middle {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top !important;
}

.v-bottom {
  vertical-align: bottom !important;
}

// .vbox {
//   position: relative;
//   display: table;
//   width: 100%;
//   height: 100%;
//   min-height: 240px;
//   border-spacing: 0;

//   .row-row {
//     display: table-row;
//     height: 100%;

//     .cell {
//       position: relative;
//       width: 100%;
//       height: 100%;
//       overflow: auto;
//       -webkit-overflow-scrolling: touch;

//       .cell-inner {
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//       }
//     }
//   }
// }

// .ie .vbox .row-row .cell {
//   display: table-cell;
// }

.modal-over, .modal-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.modal-container {
  position: absolute;
}

// @media (max-width: 767px) {
//   body {
//     height: auto;
//     min-height: 100%;
//   }
//   .navbar-fixed-bottom {
//     position: fixed;
//   }
//   .app-aside {
//     float: none;
//   }
//   .app-content-full {
//     position: relative;
//     top: 0;
//     width: 100% !important;
//   }
//   .hbox-auto-xs {
//     display: block;

//     > .col {
//       display: block;
//       width: auto;
//       height: auto;
//     }
//   }
//   .navbar-nav {
//     margin-top: 0;
//     margin-bottom: 0;

//     > li > a {
//       box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);

//       .up {
//         top: 0;
//       }
//     }
//   }
// }

.pos-rlt {
  position: relative;
}

.pos-stc {
  position: static !important;
}

.pos-abt {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.dp-none {
  display: none;
}
.dp-table {
  display: table;

  .cell {
    display: table-cell;
  }
}
.bg {
  &.cover {
    // background-attachment: fixed;
    background-size: cover;
  }
  &.woods {
    background-position: 50%;
    background-image: url("../images/woods.jpg");
  }
}
.w-1x {
  width: 1em;
}

.w-2x {
  width: 2em;
}

.w-3x {
  width: 3em;
}

.w-xxs {
  width: 60px;
}

.w-xs {
  width: 90px;
}

.w-sm {
  width: 150px;
}

.w {
  width: 200px;
}

.w-md {
  width: 240px;
}

.w-lg {
  width: 280px;
}

.w-xl {
  width: 320px;
}

.w-xxl {
  width: 360px;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.float-left {
  float: left;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}
.m-center {
  margin-left: auto;
  margin-right: auto;
}

.item {
  position: relative;

  .top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .center {
    position: absolute;
    top: 50%;
  }
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.item-overlay.active,
.item:hover .item-overlay {
  display: block;
}

.wrapper-xs {
  padding: 5px;
}

.wrapper-sm {
  padding: 10px;
}

.wrapper {
  padding: 15px;
}

.wrapper-md {
  padding: 20px;
}

.wrapper-lg {
  padding: 30px;
}

.wrapper-xl {
  padding: 50px;
}

.padder-lg {
  padding-right: 30px;
  padding-left: 30px;
}

.padder-md {
  padding-right: 20px;
  padding-left: 20px;
}

.padder {
  padding-right: 15px;
  padding-left: 15px;
}

.padder-sm {
  padding-right: 10px;
  padding-left: 10px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padder-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-padder {
  padding: 0 !important;
}

.txt-center {
  text-align: center;
}
