html.bg {
  background-image: url("../images/black_paper.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #58666e;
  // background-color: transparent;
  background-image: url("../images/black_paper.jpg");
}

a {
  color: #167e2e;
  &:hover {
    color: #1a9637;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

*:focus {
  outline: 0 !important;
  outline-width: 0;
}

.app {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: inherit;
    // background-color: #f0f3f4;
    border: inherit;
    content: "";
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.app-header-fixed {
  padding-top: 50px;

  .app-header {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.app-header {
  z-index: 1025;
  border-radius: 0;
  background-color: #000;
}

.app-content {
  height: 100%;

  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.app-content-full {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: auto !important;
  height: auto;
  padding: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.h-full {
    bottom: 0;
    height: auto;
  }

  &.h-top {
    top: 0;
  }
}

.app-content-body {
  float: left;
  width: 100%;
  padding-bottom: 50px;
}

.hbox {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;

  .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }
}

.v-middle {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top !important;
}

.v-bottom {
  vertical-align: bottom !important;
}

.vbox {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 240px;
  border-spacing: 0;

  .row-row {
    display: table-row;
    height: 100%;

    .cell {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      .cell-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.ie .vbox .row-row .cell {
  display: table-cell;
}

.navbar {
  margin: 0;
  border-width: 0;
  border-radius: 0;

  .navbar-form-sm {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.navbar-md {
  min-height: 60px;

  .navbar-btn {
    margin-top: 13px;
  }

  .navbar-form {
    margin-top: 15px;
  }

  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-brand {
    line-height: 60px;
  }
}

.navbar-header > button {
  padding: 10px 17px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.navbar-brand {
  display: inline-block;
  float: none;
  height: auto;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  img {
    display: inline;
    max-height: 20px;
    margin-top: -4px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hbox-auto-sm {
    display: block;

    > .col {
      display: block;
      width: auto;
      height: auto;

      &.show {
        display: block !important;
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    height: auto;
    min-height: 100%;
  }
  .navbar-fixed-bottom {
    position: fixed;
  }
  .app-aside {
    float: none;
  }
  .app-content-full {
    position: relative;
    top: 0;
    width: 100% !important;
  }
  .hbox-auto-xs {
    display: block;

    > .col {
      display: block;
      width: auto;
      height: auto;
    }
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    > li > a {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);

      .up {
        top: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .app.container {
    width: 750px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

    .app-aside {
      overflow-x: hidden;
    }

    &.app-aside-folded .app-aside {
      overflow-x: visible;
    }

    &.app-aside-fixed .aside-wrap {
      left: inherit;
    }

    &.app-aside-fixed.app-aside-folded .app-aside > ul.nav {
      position: absolute;
    }

    .app-header, .app-aside {
      max-width: 750px;
    }

    .app-footer-fixed {
      right: auto;
      left: auto;
      width: 100%;
      max-width: 550px;
    }

    &.app-aside-folded .app-footer-fixed {
      max-width: 690px;
    }

    &.app-aside-dock .app-footer-fixed {
      max-width: 750px;
    }
  }
}

@media (min-width: 992px) {
  .app.container {
    width: 970px;

    .app-header, .app-aside {
      max-width: 970px;
    }
    .app-footer-fixed {
      max-width: 770px;
    }
    &.app-aside-folded .app-footer-fixed {
      max-width: 910px;
    }
    &.app-aside-dock .app-footer-fixed {
      max-width: 970px;
    }
  }
}

@media (min-width: 1200px) {
  .app.container {
    width: 1170px;

    .app-header, .app-aside {
      max-width: 1170px;
    }
    .app-footer-fixed {
      max-width: 970px;
    }
    &.app-aside-folded .app-footer-fixed {
      max-width: 1110px;
    }
    &.app-aside-dock .app-footer-fixed {
      max-width: 1170px;
    }
  }
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden !important;
  }
  .app {
    overflow-x: hidden;
  }
  .app-content {
    -webkit-transition: -webkit-transform 0.2s ease;
       -moz-transition: -moz-transform 0.2s ease;
         -o-transition: -o-transform 0.2s ease;
            transition: transform 0.2s ease;
  }
  // .off-screen {
  //   position: fixed;
  //   top: 50px;
  //   bottom: 0;
  //   z-index: 1010;
  //   display: block !important;
  //   width: 75%;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   visibility: visible;
  //   -webkit-overflow-scrolling: touch;
  // }
  // .off-screen + * {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 1015;
  //   width: 100%;
  //   padding-top: 50px;
  //   overflow: hidden;
  //   background-color: #f0f3f4;
  //   -webkit-transform: translate3d(75%, 0, 0px);
  //           transform: translate3d(75%, 0, 0px);
  //   -webkit-transition: -webkit-transform 0.2s ease;
  //      -moz-transition: -moz-transform 0.2s ease;
  //        -o-transition: -o-transform 0.2s ease;
  //           transition: transform 0.2s ease;
  //   -webkit-backface-visibility: hidden;
  //      -moz-backface-visibility: hidden;
  //           backface-visibility: hidden;
  // }
  // .off-screen + * .off-screen-toggle {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 1020;
  //   display: block !important;
  // }
  // .off-screen.pull-right {
  //   right: 0;
  // }
  // .off-screen.pull-right + * {
  //   -webkit-transform: translate3d(-75%, 0, 0px);
  //           transform: translate3d(-75%, 0, 0px);
  // }
}

.win-over, .grid-over {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.grid-over {
  position: absolute;
}

.i-checks {
  padding-left: 20px;
  cursor: pointer;

  input {
    position: absolute;
    margin-left: -20px;
    opacity: 0;

    &:checked {
      + i {
        border-color: #23b7e5;

        &:before {
          top: 4px;
          left: 4px;
          width: 10px;
          height: 10px;
          background-color: #23b7e5;
        }
      }

      + span .active {
        display: inherit;
      }
    }

    &[type="radio"] + i,
    &[type="radio"] + i:before {
      border-radius: 50%;
    }
  }

  > i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #cfdadd;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: transparent;
      content: "";
      -webkit-transition: all 0.2s;
              transition: all 0.2s;
    }
  }

  > span {
    margin-left: -20px;

    .active {
      display: none;
    }
  }
}

.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #dee5e7;
}

.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  background-color: #dee5e7;
}

.i-checks-sm input:checked + i:before {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
}

.i-checks-sm > i {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-left: -18px;
}

.i-checks-lg input:checked + i:before {
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;

}

.i-checks-lg > i {
  width: 30px;
  height: 30px;
}

.btn-dark {
  color: #ffffff !important;
  background-color: #3a3f51;
  border-color: #3a3f51;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff !important;
  background-color: #2f3342;
  border-color: #292d39;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #3a3f51;
  border-color: #3a3f51;
}

.btn-addon i {
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
  margin: -7px -12px;
  margin-right: 12px;
  line-height: 34px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px 0 0 2px;

  &.pull-right {
    margin-right: -12px;
    margin-left: 12px;
    border-radius: 0 2px 2px 0;
  }

  &.btn-sm i {
    width: 30px;
    height: 30px;
    margin: -6px -10px;
    margin-right: 10px;
    line-height: 30px;

    &.pull-right {
      margin-right: -10px;
      margin-left: 10px;
    }
  }

  &.btn-lg i {
    width: 45px;
    height: 45px;
    margin: -11px -16px;
    margin-right: 16px;
    line-height: 45px;

    &.pull-right {
      margin-right: -16px;
      margin-left: 16px;
    }
  }

  &.btn-default i {
    background-color: transparent;
    border-right: 1px solid #dee5e7;
  }
}

.pos-rlt {
  position: relative;
}

.pos-stc {
  position: static !important;
}

.pos-abt {
  position: absolute;
}

.pos-fix {
  position: fixed;
}

.dp-none {
  display: none;
}
.dp-table {
  display: table;

  .cell {
    display: table-cell;
  }
}
.bg {
  &.cover {
    // background-attachment: fixed;
    background-size: cover;
  }
  &.woods {
    background-position: 50%;
    background-image: url("../images/woods.jpg");
  }
}
// .bg-light-a5 {
//   background-color: rgba(255, 255, 255, 0.05);
// }

.bg-gd {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.075)));
  background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 0, rgba(40, 50, 60, 0.075), 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.075) 100%);
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.075) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#1328323c', GradientType=0);
  filter: none;
}

.bg-gd-dk {
  background-image: -webkit-gradient(linear, left 10%, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 10%, rgba(40, 50, 60, 0.5), 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#8028323c', GradientType=0);
  filter: none;
}

.bg-light {
  color: #58666e;
  background-color: #edf1f2;
  // background-color: rgba(100, 100, 100, 0.1);
}

.bg-light.lt,
.bg-light .lt {
  background-color: #f3f5f6;
}

.bg-light.lter,
.bg-light .lter {
  background-color: #f6f8f8;
}

.bg-light.dk,
.bg-light .dk {
  background-color: #e4eaec;
}

.bg-light.dker,
.bg-light .dker {
  background-color: #dde6e9;
  // background-color: rgba(0, 0, 0, 0.8);
}

.bg-light.bg,
.bg-light .bg {
  background-color: #edf1f2;
}

.bg-dark {
  color: #a6a8b1;
  background-color: #252525;
}

.bg-dark.lt,
.bg-dark .lt {
  background-color: #303030;
}

.bg-dark.lter,
.bg-dark .lter {
  background-color: #54596a;
}

.bg-dark.dk,
.bg-dark .dk {
  background-color: #2e3344;
}

.bg-dark.dker,
.bg-dark .dker {
  background-color: #232735;
}

.bg-dark.bg,
.bg-dark .bg {
  background-color: #3a3f51;
}

.b-none {
  border: none;
}
.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.b-a {
  border: 1px solid #151515;
}

.b-t {
  border-top: 1px solid #151515;
}

.b-r {
  border-right: 1px solid #151515;
}

.b-b {
  border-bottom: 1px solid #151515;
}

.b-l {
  border-left: 1px solid #151515;
}

.b-light {
  border-color: #1c6000;
}

.b-dark {
  border-color: #3a3f51;
}

.b-black {
  border-color: #3a3f51;
}

.b-primary {
  border-color: #7266ba;
}

.b-success {
  border-color: #27c24c;
}

.b-info {
  border-color: #23b7e5;
}

.b-warning {
  border-color: #fad733;
}

.b-danger {
  border-color: #f05050;
}

.b-white {
  border-color: #ffffff;
}

.b-dashed {
  border-style: dashed !important;
}

.b-l-light {
  border-left-color: #edf1f2;
}

.b-l-dark {
  border-left-color: #3a3f51;
}

.b-l-black {
  border-left-color: #3a3f51;
}

.b-l-primary {
  border-left-color: #7266ba;
}

.b-l-success {
  border-left-color: #27c24c;
}

.b-l-info {
  border-left-color: #23b7e5;
}

.b-l-warning {
  border-left-color: #fad733;
}

.b-l-danger {
  border-left-color: #f05050;
}

.b-l-white {
  border-left-color: #ffffff;
}

.b-l-2x {
  border-left-width: 2px;
}

.b-l-3x {
  border-left-width: 3px;
}

.b-l-4x {
  border-left-width: 4px;
}

.b-l-5x {
  border-left-width: 5px;
}

.b-2x {
  border-width: 2px;
}

.b-3x {
  border-width: 3px;
}

.b-4x {
  border-width: 4px;
}

.b-5x {
  border-width: 5px;
}

.r {
  border-radius: 2px 2px 2px 2px;
}

.r-2x {
  border-radius: 4px;
}

.r-3x {
  border-radius: 6px;
}

.r-l {
  border-radius: 2px 0 0 2px;
}

.r-r {
  border-radius: 0 2px 2px 0;
}

.r-t {
  border-radius: 2px 2px 0 0;
}

.r-b {
  border-radius: 0 0 2px 2px;
}

.show {
  visibility: visible;
}

.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 0;
}

.line-xs {
  margin: 0;
}

.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.line-dashed {
  background-color: transparent;
  border-style: dashed !important;
  border-width: 0;
}

.no-line {
  border-width: 0;
}

.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}

.no-radius {
  border-radius: 0;
}

.block {
  display: block;
}

.block.hide {
  display: none;
}

.inline {
  display: inline-block !important;
}

.none {
  display: none;
}

.pull-none {
  float: none;
}

.rounded {
  border-radius: 500px;
}

.clear {
  display: block;
  overflow: hidden;
}

.no-bg {
  color: inherit;
  background-color: transparent;
}

.no-select {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.w-1x {
  width: 1em;
}

.w-2x {
  width: 2em;
}

.w-3x {
  width: 3em;
}

.w-xxs {
  width: 60px;
}

.w-xs {
  width: 90px;
}

.w-sm {
  width: 150px;
}

.w {
  width: 200px;
}

.w-md {
  width: 240px;
}

.w-lg {
  width: 280px;
}

.w-xl {
  width: 320px;
}

.w-xxl {
  width: 360px;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.float-left {
  float: left;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}
.m-center {
  margin-left: auto;
  margin-right: auto;
}

.item {
  position: relative;

  .top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .center {
    position: absolute;
    top: 50%;
  }
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.item-overlay.active,
.item:hover .item-overlay {
  display: block;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0 !important;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-xxl {
  margin-left: 50px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-l-n-xxl {
  margin-left: -50px;
}

.m-t-none {
  margin-top: 0 !important;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-t-n-xxl {
  margin-top: -50px;
}

.m-r-none {
  margin-right: 0 !important;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-xxl {
  margin-right: 50px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-r-n-xxl {
  margin-right: -50px;
}

.m-b-none {
  margin-bottom: 0 !important;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-xxl {
  margin-bottom: 50px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.m-b-n-xxl {
  margin-bottom: -50px;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

.box-shadow-lg {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.text-shadow {
  font-size: 170px;
  text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.no-shadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.wrapper-xs {
  padding: 5px;
}

.wrapper-sm {
  padding: 10px;
}

.wrapper {
  padding: 15px;
}

.wrapper-md {
  padding: 20px;
}

.wrapper-lg {
  padding: 30px;
}

.wrapper-xl {
  padding: 50px;
}

.padder-lg {
  padding-right: 30px;
  padding-left: 30px;
}

.padder-md {
  padding-right: 20px;
  padding-left: 20px;
}

.padder {
  padding-right: 15px;
  padding-left: 15px;
}

.padder-sm {
  padding-right: 10px;
  padding-left: 10px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padder-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-padder {
  padding: 0 !important;
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}

.font-normal {
  font-weight: normal;
}

.font-thin {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.text-3x {
  font-size: 3em;
}

.text-2x {
  font-size: 2em;
}

.text-lg {
  font-size: 18px;
}

.text-md {
  font-size: 16px;
}

.text-base {
  font-size: 14px;
}

.text-sm {
  font-size: 13px;
}

.text-xs {
  font-size: 12px;
}

.text-xxs {
  text-indent: -9999px;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-u-c {
  text-transform: uppercase;
}

.text-l-t {
  text-decoration: line-through;
}

.text-u-l {
  text-decoration: underline;
}

.sign-box {
  max-width: 440px;

  .btn-github {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 24px;
    i {
      font-size: 18px;
      margin-right: 16px;
    }
    &:hover {
      color: #000 !important;
      background-color: #fcfdfd;
      border-color: #dee5e7;
    }
  }

  form {
    i.fa {
      width: 20px;

      &.fa-lock {
        font-size: 20px;
      }
    }

    input:focus {
      outline: none;
      outline-width: 0;
      outline-offset: 0;
      border-color: #27a102;
      border-left: 0;
    }
  }
}

.divider-txt {
  position: relative;
  &:before, &:after {
    width: 50px;
    height: 1px;
    content: "";
    top: 50%;
    background-color: #58666e;
    position: absolute;
  }
  &:before {
    left: -70px;
  }
  &:after {
    right: -70px;
  }
}

.panel-doc {
  background-color: transparent;
  
  h2 {
    color: #1c6000;
  }

  .panel-body {
    color: #fff;
  }

  &.list {
    background-color: transparent;
    border: 0;

    .panel-heading {
      color: #fff;
      font-weight: bold;
      background-color: #000;
    }

    .label {
      width: 45px;
      margin-top: 10px;
      margin-right: 10px;
    }

    .media-body {
      a {
        display: block;
        text-decoration: none;

        h5 {
          margin: 0;
        }
      }
    }

    .list-group-item {
      padding-left: 10px;
      padding-right: 10px;
      background-color: #252525;
      border-color: #151515;
      
      .more {
        display: none;
      }

      h5 {
        color: #cff0c5;
      }

      &:hover {
        background-color: #cff0c5;
        h5 {
          color: #000;
        }

        .more {
          display: block;
        }
      }
    }
  }
}

.panel-res {
  background-color: transparent;
  border: 0;

  .panel-heading {
    background-color: #002f06;

    .h3 {
      color: #cff0c5;

      a {
        color: #1c6000;
      }

      .sep {
        color: #aaaaaa;
      }
    }

    .label {
      font-size: 100%
    }
  }

  .panel-body {
    padding: 0;

    .res-desc {
      color: #002f06;
      background-color: #1c6000;
    }

    h4 {
      color: #27a102;
      font-size: 130%
    }

    .table .required {
      color: #f0ad4e;
    }

    .panel-io {
      border: 0;

      .panel-heading {
        background-color: transparent;
        color: #1c6000;
      }
    }
  }
}

.table-striped > tbody > tr {
  &:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.table {
  > thead > tr > th, 
  > tbody > tr > td {
    color: #cff0c5;
    border-color: #151515;
  }
  > thead > tr > th {
    color: #fff;
    background-color: #151515;
  }
}
