<div class="modal fade modal-full" id="sign-modal" tabindex="-1" role="dialog">
  <button class="btn btn-rounded btn-lg btn-icon btn-default btn-close" data-dismiss="modal">
    <i class="fa fa-times"></i>
  </button>
  <div class="row win-over pos-fix">
    <div class="col-md-6 h-full container bg cover woods hidden-xs">
    </div>
    <div class="col-md-6 h-full container">
      <div class="grid-over h-full">
        <div class="dp-table w-full h-full item">
          <div class="cell w-half v-middle wrapper-md">
            <div class="padder-xl" v-if="type != 0">
              <component v-bind:is="type" v-on:gopage="openPage"></component>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>