<% content_for :assets do %>
<%= webpack_javascript_include_tag 'home' %>
<% end %>

<% content_for :content do %>
  <div class="row container container-home m-center">
    <div class="col-md-6 col-xs-12">
      <div class="headline slide-in-top">
        <h1>Easily manage API</h1>
        <div class="text-muted m-t">Design, mining, documentation, versioning, debug, mock and discuss your RESTful web API at here.</div>
      </div>
      <div class="form-inline m-t-md bg-dark no-bg slide-in-bottom">
        <% if user_signed_in? %>
        <span>
        <%= link_to "Get Started", user_profile_path(owner_name: current_user.username), class: "btn btn-success" %>
        </span>
        <% else %>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <span>
          <button class="btn btn-success">Get Started</button>
        </span>
        <% end %>
        <div class="m-t-md">Already have an account? <a href="#" @click.prevent="setPath('<%= new_user_session_path %>', 'sign')">Sign in</a></div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">

      <div class="home-features">
        <div class="panel feature-design bg-dark">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">design</div>
              <div class="text-muted">Lorem ipsum dolor sit amet, consecteter adipiscing elit.</div>
            </div>
            <img src="/imgs/design.png" class="img-full">
          </div>
        </div>

        <div class="panel feature-mining bg-dark">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">mining</div>
              <div class="text-muted">Lorem ipsum dolor sit amet, consecteter adipiscing elit.</div>
            </div>
            <img src="/imgs/mining.png" class="img-full">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="home-features">
        <div class="panel feature-document bg-dark">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">documentation</div>
              <div class="text-muted">Lorem ipsum dolor sit amet</div>
            </div>
            <img src="/imgs/document.png" class="img-full">
          </div>
        </div>

        <div class="panel feature-versioning bg-dark">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">versioning</div>
              <div class="text-muted">sed diam nonummy nibh euismod tincidunt ut laoreet.</div>
            </div>
            <img src="/imgs/versioning.png" class="img-full">
          </div>
        </div>

        <div class="panel feature-debug bg-dark">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">debug</div>
              <div class="text-muted">Lorem ipsum dolor sit amet, consecteter adipiscing elit.</div>
            </div>
            <img src="/imgs/debug.png" class="img-full">
          </div>
        </div>

        <div class="panel feature-mock bg-dark">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">mock</div>
              <div class="text-muted">consecteter adipiscing elit.</div>
            </div>
            <img src="/imgs/mock.png" class="img-full">
          </div>
        </div>

        <div class="panel feature-discuss bg-dark w">
          <div class="item m-l-n-xxs m-r-n-xxs">
            <div class="bottom wrapper text-white">            
              <div class="text-u-c h3 m-b-sm text-primary-lter">discuss</div>
              <div class="text-muted">Lorem ipsum dolor sit amet, consecteter adipiscing elit.</div>
            </div>
            <img src="/imgs/discuss.png" class="img-full">
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>