<% content_for :content do %>
<div class="app-content-body">
  <div class="panel w-half center m-t-lg m-b-lg bg-dark">
    <h3 class="txt-center m-b-lg m-t-lg"><%= @invitation.collaborator.user.username %> wants to collaborate with you!</h3>
    <div class="txt-center h5 m-b-lg">Join <%= @invitation.collaborator.user.username %> and collaborate on RESTful web API document. Sign up below to get started.</div>
    <div class="txt-center h5 m-b-lg">
      <a href="#" class="btn btn-success btn-lg">Sign up & start collaborating</a>
    </div>
  </div>
</div>
<% end %>