<% content_for :content do %>
<div id="error-page">
  <div class="panel-body">
    <h1>Oops, Page not found</h1>
    <p>
      There seems to be no page! Buddy, go back and see something else.
    </p>
  </div>
</div>
<% end %>