<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Apiwoods</title>
    <%= csrf_meta_tags %>

    <%= webpack_javascript_include_tag 'main' %>
    <%= webpack_stylesheet_link_tag 'main' %>
  </head>

  <body>
    <div class="app">
      <div class="modal-over pos-fix row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>