@import "variables.scss";
@import "animations.scss";

html.bg {
  background-image: url("../images/black_paper.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #fff;
  // background-color: transparent;
  background-image: url("../images/black_paper.jpg");
}

a {
  color: $primary_color;
  &:hover {
    color: #1a9637;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

*:focus {
  outline: 0 !important;
  outline-width: 0;
}

.app {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: inherit;
    // background-color: #f0f3f4;
    border: inherit;
    content: "";
  }

  .container {
    padding-right: 0;
    padding-left: 0;
  }
}

.app-header-fixed {
  padding-top: 50px;

  .app-header {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.app-header {
  z-index: 1025;
  border-radius: 0;
  background-color: #000;
}

.app-content {
  height: 100%;

  &:before, &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}

.app-content-full {
  position: absolute;
  top: 50px;
  bottom: 50px;
  width: auto !important;
  height: auto;
  padding: 0 !important;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.h-full {
    bottom: 0;
    height: auto;
  }

  &.h-top {
    top: 0;
  }
}

.app-content-body {
  float: left;
  width: 100%;
  padding-bottom: 50px;
}

.hbox {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;

  .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }
}

.v-middle {
  vertical-align: middle !important;
}

.v-top {
  vertical-align: top !important;
}

.v-bottom {
  vertical-align: bottom !important;
}

.vbox {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 240px;
  border-spacing: 0;

  .row-row {
    display: table-row;
    height: 100%;

    .cell {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: auto;
      // height: 711px;
      // overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      .cell-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &.cell-over {
        position: absolute;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.9);

        .bg-loading {
          background-position: center center;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.border-loading {
  width: 100%;
  height: 100px;
  margin: 0;
  position: absolute;

  &.doing {
    .ball {
      display: none;
    }
    background-image: url("../images/loading.svg");
    background-repeat: no-repeat;
    background-position: center 12px;
  }

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: block;
    position: absolute;
    

    &.left {
      top: 12px;
      background-color: $primary_color_dker;
    }

    &.center {
      top: 20px;
      background-color: $primary_color;
    }

    &.right {
      top: 28px;
      background-color: $primary_color_dker;
    }
  }

  &.top {
    top: 0;
    + .cell > div:first-child {
      margin-top: 100px;
    }

    // .ball {
    //   &.left {
    //     top: 12px;
    //   }

    //   &.center {
    //     top: 20px;
    //   }

    //   &.right {
    //     top: 28px;
    //   }
    // }
  }

  &.bottom {
    bottom: -100px;
    // margin-top: 100px;
    // background-color: red;
    // + .cell > div:last-child {
    //   margin-bottom: 100px;
    // }

    // .ball {
    //   &.left {
    //     top: 12px;
    //   }

    //   &.center {
    //     top: 20px;
    //   }

    //   &.right {
    //     top: 28px;
    //   }
    // }
  }
}

#scroll-container {
  > div {
    margin-bottom: 100px;
  }
}
.row-row {
  > div:last-child {
    &.cell {
      > div {
        margin-bottom: 0;
      }
    }
  }
}

.ie .vbox .row-row .cell {
  display: table-cell;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $primary_color_lter;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: $primary_color_lter;
}

.navbar {
  margin: 0;
  border-width: 0;
  border-radius: 0;

  .navbar-form-sm {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.navbar-md {
  min-height: 60px;

  .navbar-btn {
    margin-top: 13px;
  }

  .navbar-form {
    margin-top: 15px;
  }

  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-brand {
    line-height: 60px;
  }
}

.navbar-header > button {
  padding: 10px 17px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.navbar-brand {
  display: inline-block;
  float: none;
  height: auto;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  img {
    display: inline;
    max-height: 20px;
    margin-top: -4px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hbox-auto-sm {
    display: block;

    > .col {
      display: block;
      width: auto;
      height: auto;

      &.show {
        display: block !important;
      }
    }
  }
}

@media (max-width: 767px) {
  body {
    height: auto;
    min-height: 100%;
  }
  .navbar-fixed-bottom {
    position: fixed;
  }
  .app-aside {
    float: none;
  }
  .app-content-full {
    position: relative;
    top: 0;
    width: 100% !important;
  }
  .hbox-auto-xs {
    display: block;

    > .col {
      display: block;
      width: auto;
      height: auto;
    }
  }
  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    > li > a {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);

      .up {
        top: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  .app.container {
    width: 750px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

    .app-aside {
      overflow-x: hidden;
    }

    &.app-aside-folded .app-aside {
      overflow-x: visible;
    }

    &.app-aside-fixed .aside-wrap {
      left: inherit;
    }

    &.app-aside-fixed.app-aside-folded .app-aside > ul.nav {
      position: absolute;
    }

    .app-header, .app-aside {
      max-width: 750px;
    }

    .app-footer-fixed {
      right: auto;
      left: auto;
      width: 100%;
      max-width: 550px;
    }

    &.app-aside-folded .app-footer-fixed {
      max-width: 690px;
    }

    &.app-aside-dock .app-footer-fixed {
      max-width: 750px;
    }
  }
}

@media (min-width: 992px) {
  .app.container {
    width: 970px;

    .app-header, .app-aside {
      max-width: 970px;
    }
    .app-footer-fixed {
      max-width: 770px;
    }
    &.app-aside-folded .app-footer-fixed {
      max-width: 910px;
    }
    &.app-aside-dock .app-footer-fixed {
      max-width: 970px;
    }
  }
}

@media (min-width: 1200px) {
  .app.container {
    width: 1170px;

    .app-header, .app-aside {
      max-width: 1170px;
    }
    .app-footer-fixed {
      max-width: 970px;
    }
    &.app-aside-folded .app-footer-fixed {
      max-width: 1110px;
    }
    &.app-aside-dock .app-footer-fixed {
      max-width: 1170px;
    }
  }
}

@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden !important;
  }
  .app {
    overflow-x: hidden;
  }
  .app-content {
    -webkit-transition: -webkit-transform 0.2s ease;
       -moz-transition: -moz-transform 0.2s ease;
         -o-transition: -o-transform 0.2s ease;
            transition: transform 0.2s ease;
  }
  // .off-screen {
  //   position: fixed;
  //   top: 50px;
  //   bottom: 0;
  //   z-index: 1010;
  //   display: block !important;
  //   width: 75%;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   visibility: visible;
  //   -webkit-overflow-scrolling: touch;
  // }
  // .off-screen + * {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 1015;
  //   width: 100%;
  //   padding-top: 50px;
  //   overflow: hidden;
  //   background-color: #f0f3f4;
  //   -webkit-transform: translate3d(75%, 0, 0px);
  //           transform: translate3d(75%, 0, 0px);
  //   -webkit-transition: -webkit-transform 0.2s ease;
  //      -moz-transition: -moz-transform 0.2s ease;
  //        -o-transition: -o-transform 0.2s ease;
  //           transition: transform 0.2s ease;
  //   -webkit-backface-visibility: hidden;
  //      -moz-backface-visibility: hidden;
  //           backface-visibility: hidden;
  // }
  // .off-screen + * .off-screen-toggle {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 1020;
  //   display: block !important;
  // }
  // .off-screen.pull-right {
  //   right: 0;
  // }
  // .off-screen.pull-right + * {
  //   -webkit-transform: translate3d(-75%, 0, 0px);
  //           transform: translate3d(-75%, 0, 0px);
  // }
}

.avatar {
  position: relative;
  display: block;
  white-space: nowrap;
  border-radius: 500px;

  img {
    width: 100%;
    border-radius: 500px;
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;

    &.right {
      right: 0;
      left: auto;
    }

    &.bottom {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
    }

    &.left {
      top: auto;
      bottom: 0;
    }

    &.on {
      background-color: #27c24c;
    }

    &.off {
      background-color: #98a6ad;
    }

    &.busy {
      background-color: #f05050;
    }

    &.away {
      background-color: #fad733;
    }
  }

  &.thumb-md i {
    width: 12px;
    height: 12px;
    margin: 3px;
  }

  &.thumb-sm i {
    margin: 1px;
  }

  &.thumb-xs i {
    margin: 0;
  }
}

.win-over, .grid-over {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.grid-over {
  position: absolute;
}

.streamline {
  position: relative;
  border-color: #dee5e7;

  .sl-item:after,
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 9px;
    height: 9px;
    margin-left: -5px;
    background-color: $dark_color;
    border-color: $dark_color_lt;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    content: '';
  }

  // &.b-l {
  //   border-left: 1px solid $dark_color_lt;
  // }

  .avatar img {
    background-color: $dark_color_lt;
  }

  .m-l-n-md {
    margin-left: -24px;
  }

  // .panel {
  //   background-color: #fff;
  // }
}

// .streamline .sl-item:after,
// .streamline:after {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 9px;
//   height: 9px;
//   margin-left: -5px;
//   background-color: #fff;
//   border-color: inherit;
//   border-style: solid;
//   border-width: 1px;
//   border-radius: 10px;
//   content: '';
// }

.arrow {
  z-index: 10;
  border-width: 9px;
}

.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.arrow:after {
  border-width: 8px;
  content: "";
}

.arrow.top {
  top: -9px;
  left: 50%;
  margin-left: -9px;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-top-width: 0;
}

.arrow.top:after {
  top: 1px;
  margin-left: -8px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
}

.arrow.top.arrow-primary:after {
  border-bottom-color: #7266ba;
}

.arrow.top.arrow-info:after {
  border-bottom-color: #23b7e5;
}

.arrow.top.arrow-success:after {
  border-bottom-color: #27c24c;
}

.arrow.top.arrow-danger:after {
  border-bottom-color: #f05050;
}

.arrow.top.arrow-warning:after {
  border-bottom-color: #fad733;
}

.arrow.top.arrow-light:after {
  border-bottom-color: #edf1f2;
}

.arrow.top.arrow-dark:after {
  border-bottom-color: #3a3f51;
}

.arrow.top.arrow-black:after {
  border-bottom-color: #1c2b36;
}

.arrow.right {
  top: 50%;
  right: -9px;
  margin-top: -9px;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-right-width: 0;
}

.arrow.right:after {
  right: 1px;
  bottom: -8px;
  border-left-color: #ffffff;
  border-right-width: 0;
}

.arrow.right.arrow-primary:after {
  border-left-color: #7266ba;
}

.arrow.right.arrow-info:after {
  border-left-color: #23b7e5;
}

.arrow.right.arrow-success:after {
  border-left-color: #27c24c;
}

.arrow.right.arrow-danger:after {
  border-left-color: #f05050;
}

.arrow.right.arrow-warning:after {
  border-left-color: #fad733;
}

.arrow.right.arrow-light:after {
  border-left-color: #edf1f2;
}

.arrow.right.arrow-dark:after {
  border-left-color: #3a3f51;
}

.arrow.right.arrow-black:after {
  border-left-color: #1c2b36;
}

.arrow.bottom {
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
  border-top-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 0;
}

.arrow.bottom:after {
  bottom: 1px;
  margin-left: -8px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
}

.arrow.bottom.arrow-primary:after {
  border-top-color: #7266ba;
}

.arrow.bottom.arrow-info:after {
  border-top-color: #23b7e5;
}

.arrow.bottom.arrow-success:after {
  border-top-color: #27c24c;
}

.arrow.bottom.arrow-danger:after {
  border-top-color: #f05050;
}

.arrow.bottom.arrow-warning:after {
  border-top-color: #fad733;
}

.arrow.bottom.arrow-light:after {
  border-top-color: #edf1f2;
}

.arrow.bottom.arrow-dark:after {
  border-top-color: #3a3f51;
}

.arrow.bottom.arrow-black:after {
  border-top-color: #1c2b36;
}

.arrow.left {
  top: 50%;
  left: -9px;
  margin-top: -9px;
  border-right-color: rgba(0, 0, 0, 0.1);
  border-left-width: 0;
}

.arrow.left:after {
  bottom: -8px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
}

.arrow.left.arrow-primary:after {
  border-right-color: #7266ba;
}

.arrow.left.arrow-info:after {
  border-right-color: #23b7e5;
}

.arrow.left.arrow-success:after {
  border-right-color: #27c24c;
}

.arrow.left.arrow-danger:after {
  border-right-color: #f05050;
}

.arrow.left.arrow-warning:after {
  border-right-color: #fad733;
}

.arrow.left.arrow-light:after {
  border-right-color: #edf1f2;
}

.arrow.left.arrow-dark:after {
  border-right-color: #3a3f51;
}

.arrow.left.arrow-black:after {
  border-right-color: #1c2b36;
}

.arrow.pull-left {
  left: 19px;
}

.arrow.pull-right {
  right: 19px;
  left: auto;
}

.arrow.pull-up {
  top: 19px;
}

.arrow.pull-down {
  top: auto;
  bottom: 19px;
}

.i-checks {
  padding-left: 20px;
  cursor: pointer;

  input {
    position: absolute;
    margin-left: -20px;
    opacity: 0;

    &:checked {
      + i {
        border-color: $primary_color;

        &:before {
          top: 4px;
          left: 4px;
          width: 10px;
          height: 10px;
          background-color: $primary_color;
        }
      }

      + span .active {
        display: inherit;
      }
    }

    &[type="radio"] + i,
    &[type="radio"] + i:before {
      border-radius: 50%;
    }
  }

  > i {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 4px;
    margin-left: -20px;
    line-height: 1;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #cfdadd;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: transparent;
      content: "";
      -webkit-transition: all 0.2s;
              transition: all 0.2s;
    }

    &.lg {
      margin-top: 10px;
    }
  }

  > span {
    margin-left: -20px;

    .active {
      display: none;
    }
  }
}

.i-checks input[disabled] + i,
fieldset[disabled] .i-checks input + i {
  border-color: #dee5e7;
}

.i-checks input[disabled] + i:before,
fieldset[disabled] .i-checks input + i:before {
  background-color: #dee5e7;
}

.i-checks-sm input:checked + i:before {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
}

.i-checks-sm > i {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-left: -18px;
}

.i-checks-lg input:checked + i:before {
  top: 8px;
  left: 8px;
  width: 12px;
  height: 12px;

}

.i-checks-lg > i {
  width: 30px;
  height: 30px;
}

.btn-dark {
  color: #ffffff !important;
  background-color: #3a3f51;
  border-color: #3a3f51;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  color: #ffffff !important;
  background-color: #2f3342;
  border-color: #292d39;
}

.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
  background-color: #3a3f51;
  border-color: #3a3f51;
}

.btn-addon i {
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
  margin: -7px -12px;
  margin-right: 12px;
  line-height: 34px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px 0 0 2px;

  &.pull-right {
    margin-right: -12px;
    margin-left: 12px;
    border-radius: 0 2px 2px 0;
  }

  &.btn-sm i {
    width: 30px;
    height: 30px;
    margin: -6px -10px;
    margin-right: 10px;
    line-height: 30px;

    &.pull-right {
      margin-right: -10px;
      margin-left: 10px;
    }
  }

  &.btn-lg i {
    width: 45px;
    height: 45px;
    margin: -11px -16px;
    margin-right: 16px;
    line-height: 45px;

    &.pull-right {
      margin-right: -16px;
      margin-left: 16px;
    }
  }

  &.btn-default i {
    background-color: transparent;
    border-right: 1px solid #dee5e7;
  }
}

.btn-icon {
  width: 34px;
  height: 34px;
  padding: 0 !important;
  text-align: center;

  i {
    position: relative;
    top: -1px;
    line-height: 34px;
  }

  &.btn-sm {
    width: 30px;
    height: 30px;

    i {
      line-height: 30px;
    }
  }

  &.btn-lg {
    width: 45px;
    height: 45px;

    i {
      line-height: 45px;
    }
  }
}

.btn-rounded {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 50px;

  &.btn-lg {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.dp-none {
  display: none;
}
.dp-table {
  display: table;

  .cell {
    display: table-cell;
  }
}

.b-none {
  border: none;
}
.b {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.b-a {
  border: 1px solid $dark_color_lt;
}

.b-t {
  border-top: 1px solid $dark_color_lt;
}

.b-r {
  border-right: 1px solid $dark_color_lt;
}

.b-b {
  border-bottom: 1px solid $dark_color_lt;
}

.b-l {
  border-left: 1px solid $dark_color_lt;
}

.b-light {
  border-color: #1c6000;
}

.b-dark {
  border-color: #3a3f51;
}

.b-black {
  border-color: #3a3f51;
}

.b-primary {
  border-color: #7266ba;
}

.b-success {
  border-color: #27c24c;
}

.b-info {
  border-color: #23b7e5;
}

.b-warning {
  border-color: #fad733;
}

.b-danger {
  border-color: #f05050;
}

.b-white {
  border-color: #ffffff;
}

.b-dashed {
  border-style: dashed !important;
}

.b-l-light {
  border-left-color: #edf1f2;
}

.b-l-dark {
  border-left-color: #3a3f51;
}

.b-l-black {
  border-left-color: #3a3f51;
}

.b-l-primary {
  border-left-color: #7266ba;
}

.b-l-success {
  border-left-color: #27c24c;
}

.b-l-info {
  border-left-color: #23b7e5;
}

.b-l-warning {
  border-left-color: #fad733;
}

.b-l-danger {
  border-left-color: #f05050;
}

.b-l-white {
  border-left-color: #ffffff;
}

.b-l-2x {
  border-left-width: 2px;
}

.b-l-3x {
  border-left-width: 3px;
}

.b-l-4x {
  border-left-width: 4px;
}

.b-l-5x {
  border-left-width: 5px;
}

.b-2x {
  border-width: 2px;
}

.b-3x {
  border-width: 3px;
}

.b-4x {
  border-width: 4px;
}

.b-5x {
  border-width: 5px;
}

.r {
  border-radius: 2px 2px 2px 2px;
}

.r-2x {
  border-radius: 4px !important;
}

.r-3x {
  border-radius: 6px;
}

.r-l {
  border-radius: 2px 0 0 2px;
}

.r-r {
  border-radius: 0 2px 2px 0;
}

.r-t {
  border-radius: 2px 2px 0 0;
}

.r-b {
  border-radius: 0 0 2px 2px;
}

.show {
  visibility: visible;
}

.line {
  width: 100%;
  height: 2px;
  margin: 10px 0;
  overflow: hidden;
  font-size: 0;
}

.line-xs {
  margin: 0;
}

.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}

.line-dashed {
  background-color: transparent;
  border-style: dashed !important;
  border-width: 0;
}

.no-line {
  border-width: 0;
}

.no-border,
.no-borders {
  border-color: transparent;
  border-width: 0;
}

.no-radius {
  border-radius: 0;
}

.block {
  display: block !important;
}

.block.hide {
  display: none !important;
}

.inline {
  display: inline-block !important;
}

.none {
  display: none !important;
}

.pull-none {
  float: none;
}

.float-left {
  float: left;
}

.rounded {
  border-radius: 500px;
}

.clear {
  display: block;
  overflow: hidden;
}

.no-select {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
}

.w-1x {
  width: 1em;
}

.w-2x {
  width: 2em;
}

.w-3x {
  width: 3em;
}

.w-xxs {
  width: 60px;
}

.w-xs {
  width: 90px;
}

.w-sm {
  width: 150px;
}

.w {
  width: 200px;
}

.w-md {
  width: 240px;
}

.w-lg {
  width: 280px !important;
}

.w-xl {
  width: 320px;
}

.w-xxl {
  width: 360px;
}

.w-half {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-auto {
  width: auto;
}

.h-xxs {
  min-height: 60px;
}

.h-xs {
  min-height: 90px;
}

.h-sm {
  min-height: 150px;
}

.h {
  min-height: 200px;
}

.h-md {
  min-height: 240px;
}

.h-lg {
  min-height: 280px;
}

.h-xl {
  min-height: 320px;
}

.h-xxl {
  min-height: 360px;
}
.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.item {
  position: relative;

  .top {
    position: absolute;
    top: 0;
    left: 0;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .center {
    position: absolute;
    top: 50%;
  }
}

.item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.item-overlay.active,
.item:hover .item-overlay {
  display: block;
}

.m-xxs {
  margin: 2px 4px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m {
  margin: 15px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-xl {
  margin: 50px;
}

.m-n {
  margin: 0 !important;
}

.m-l-none {
  margin-left: 0 !important;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l {
  margin-left: 15px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-l-xl {
  margin-left: 40px;
}

.m-l-xxl {
  margin-left: 50px;
}

.m-l-xxxl {
  margin-left: 60px;
}

.m-l-n-xxs {
  margin-left: -1px;
}

.m-l-n-xs {
  margin-left: -5px;
}

.m-l-n-sm {
  margin-left: -10px;
}

.m-l-n {
  margin-left: -15px;
}

.m-l-n-md {
  margin-left: -20px;
}

.m-l-n-lg {
  margin-left: -30px;
}

.m-l-n-xl {
  margin-left: -40px;
}

.m-l-n-xxl {
  margin-left: -50px;
}

.m-t-none {
  margin-top: 0 !important;
}

.m-t-xxs {
  margin-top: 1px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t {
  margin-top: 15px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-t-xl {
  margin-top: 40px;
}

.m-t-xxl {
  margin-top: 50px;
}

.m-t-xxxl {
  margin-top: 100px;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.m-t-n-xs {
  margin-top: -5px;
}

.m-t-n-sm {
  margin-top: -10px;
}

.m-t-n {
  margin-top: -15px;
}

.m-t-n-md {
  margin-top: -20px;
}

.m-t-n-lg {
  margin-top: -30px;
}

.m-t-n-xl {
  margin-top: -40px;
}

.m-t-n-xxl {
  margin-top: -50px;
}

.m-r-none {
  margin-right: 0 !important;
}

.m-r-xxs {
  margin-right: 1px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r {
  margin-right: 15px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-r-xl {
  margin-right: 40px;
}

.m-r-xxl {
  margin-right: 50px;
}

.m-r-n-xxs {
  margin-right: -1px;
}

.m-r-n-xs {
  margin-right: -5px;
}

.m-r-n-sm {
  margin-right: -10px;
}

.m-r-n {
  margin-right: -15px;
}

.m-r-n-md {
  margin-right: -20px;
}

.m-r-n-lg {
  margin-right: -30px;
}

.m-r-n-xl {
  margin-right: -40px;
}

.m-r-n-xxl {
  margin-right: -50px;
}

.m-b-none {
  margin-bottom: 0 !important;
}

.m-b-xxs {
  margin-bottom: 1px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-b-xl {
  margin-bottom: 40px;
}

.m-b-xxl {
  margin-bottom: 50px;
}

.m-b-n-xxs {
  margin-bottom: -1px;
}

.m-b-n-xs {
  margin-bottom: -5px;
}

.m-b-n-sm {
  margin-bottom: -10px;
}

.m-b-n {
  margin-bottom: -15px;
}

.m-b-n-md {
  margin-bottom: -20px;
}

.m-b-n-lg {
  margin-bottom: -30px;
}

.m-b-n-xl {
  margin-bottom: -40px;
}

.m-b-n-xxl {
  margin-bottom: -50px;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
}

.box-shadow-lg {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

.box-s-t {
  box-shadow: 0 -12px 20px -12px rgba(255, 255, 255, 0.35);
}

.box-s-r {
  box-shadow: 12px 0 20px -12px rgba(255, 255, 255, 0.35);
}

.box-s-b {
  box-shadow: 0 12px 20px -12px rgba(255, 255, 255, 0.35);
}

.box-s-t-i {
  box-shadow: inset 0 6px 14px -6px rgba(0, 0, 0, 0.5);
}

.box-s-l-i {
  box-shadow: inset 6px 0 14px -6px rgba(100, 100, 100, 0.3);
}

.box-s-b-i {
  box-shadow: inset 0 -6px 14px -6px rgba(255, 255, 255, 0.5);
}

.box-s-br {
  box-shadow: 8px 8px 16px -8px rgba(100, 100, 100, 0.35);
}

.text-shadow {
  font-size: 170px;
  text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
}

.no-shadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.wrapper-xs {
  padding: 5px;
}

.wrapper-sm {
  padding: 10px;
}

.wrapper {
  padding: 15px;
}

.wrapper-md {
  padding: 20px;
}

.wrapper-lg {
  padding: 30px;
}

.wrapper-xl {
  padding: 50px;
}

.padder-lg {
  padding-right: 30px;
  padding-left: 30px;
}

.padder-md {
  padding-right: 20px;
  padding-left: 20px;
}

.padder {
  padding-right: 15px;
  padding-left: 15px;
}

.padder-sm {
  padding-right: 10px;
  padding-left: 10px;
}

.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padder-xl {
  padding-top: 50px;
  padding-bottom: 50px;
}

.no-padder {
  padding: 0 !important;
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}

.font-normal {
  font-weight: normal;
}

.font-thin {
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.text-3x {
  font-size: 3em;
}

.text-2x {
  font-size: 2em;
}

.text-lg {
  font-size: 18px;
}

.text-xl {
  font-size: 24px;
}

.text-xxl {
  font-size: 30px;
}

.text-md {
  font-size: 16px;
}

.text-base {
  font-size: 14px;
}

.text-sm {
  font-size: 13px;
}

.text-xs {
  font-size: 12px;
}

.text-xxs {
  text-indent: -9999px;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-u-c {
  text-transform: uppercase;
}

.text-l-t {
  text-decoration: line-through;
}

.text-u-l {
  text-decoration: underline;
}

.text-primary {
  color: $primary_color;
}

.text-primary-lt {
  color: $primary_color_lt;
}

.text-primary-lter {
  color: $primary_color_lter;
}

.text-primary-dk {
  color: $primary_color_dk;
}

.text-primary-dker {
  color: $primary_color_dk;
}

a.bg-info:hover {
  background-color: #19a9d5;
}

a.text-info:hover {
  color: #19a9d5;
}

.text-info {
  color: #23b7e5;
}

.text-info-lt {
  color: #3abee8;
}

.text-info-lter {
  color: #51c6ea;
}

.text-info-dk {
  color: #19a9d5;
}

.text-info-dker {
  color: #1797be;
}

a.bg-success:hover {
  background-color: #23ad44;
}

a.text-success:hover {
  color: #23ad44;
}

.text-success {
  color: #27c24c;
}

.text-success-lt {
  color: #2ed556;
}

.text-success-lter {
  color: #43d967;
}

.text-success-dk {
  color: #23ad44;
}

.text-success-dker {
  color: #1e983b;
}

a.bg-warning:hover {
  background-color: #f9d21a;
}

a.text-warning:hover {
  color: #f9d21a;
}

.text-warning {
  color: #fad733;
}

.text-warning-lt {
  color: #fbdc4c;
}

.text-warning-lter {
  color: #fbe165;
}

.text-warning-dk {
  color: #f9d21a;
}

.text-warning-dker {
  color: #f4ca06;
}

a.bg-danger:hover {
  background-color: #ee3939;
}

a.text-danger:hover {
  color: #ee3939;
}

.text-danger {
  color: #f05050;
}

.text-danger-lt {
  color: #f26767;
}

.text-danger-lter {
  color: #f47f7f;
}

.text-danger-dk {
  color: #ee3939;
}

.text-danger-dker {
  color: #ec2121;
}

a.bg-dark:hover {
  background-color: #2f3342;
}

a.text-dark:hover {
  color: #2f3342;
}

.text-dark {
  color: #3a3f51;
}

.text-dark-lt {
  color: #454b60;
}

.text-dark-lter {
  color: #4f566f;
}

.text-dark-dk {
  color: #2f3342;
}

.text-dark-dker {
  color: #252833;
}

a.bg-#000000:hover {
  background-color: #131e25;
}

a.text-#000000:hover {
  color: #131e25;
}

.text-#000000 {
  color: #1c2b36;
}

.text-#000000-lt {
  color: #253847;
}

.text-#000000-lter {
  color: #2d4658;
}

.text-#000000-dk {
  color: #131e25;
}

.text-#000000-dker {
  color: #0b1014;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-muted {
  color: #98a6ad;
}

.img-full {
  width: 100%;
  img {
    width: 100%;
  }
}

.fixed-block {
  word-break: break-word;
    overflow: hidden;
}

.sign-box {
  max-width: 440px;

  .btn-github {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 24px;
    i {
      font-size: 18px;
      margin-right: 16px;
    }
    &:hover {
      color: #000 !important;
      background-color: #fcfdfd;
      border-color: #dee5e7;
    }
  }

  form {
    i.fa {
      width: 20px;

      &.fa-lock {
        font-size: 20px;
      }
    }

    input:focus {
      outline: none;
      outline-width: 0;
      outline-offset: 0;
      border-color: $primary_color;
      border-left: 0;
    }
  }
}

.divider-txt {
  position: relative;
  &:before, &:after {
    width: 50px;
    height: 1px;
    content: "";
    top: 50%;
    background-color: #58666e;
    position: absolute;
  }
  &:before {
    left: -70px;
  }
  &:after {
    right: -70px;
  }
}

.nav-cata {
  padding-left: 0;
  border: 0;
  
  .heading {
    border-bottom: 1px $dark_color_lter solid;
    font-weight: bold;

    a {
      display: block;
      text-decoration: none;
      color: #fff;
    }

    &.active,
    &:hover {
      > a {
        color: $primary_color;
        background-color: $dark_color;
      }
    }

    &.active {
      ul.nav {
        display: block;
        .list-group-item a {
          animation-name: hor-in;
          animation-duration: 200ms;
          animation-fill-mode: both;
          // transition-timing-function: ease-in;
        }
      }
    }

    ul.nav {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .label {
    width: 45px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .media-body {
    a {
      display: block;
      text-decoration: none;

      h5 {
        margin: 0;
      }
    }
  }

  .list-group {
    margin-bottom: 0;

    .list-group-item {
      padding: 0;
      border-left: 0;
      border-right: 0;
      border-color: #151515;
      
      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .more {
        display: none;
      }

      h5 {
        margin: 0;
        color: $primary_color_lter;
      }

      &.active,
      &:hover {
        a.media {
          background-color: $primary_color_lter !important;
          h5 {
            color: $primary_color_dker;
          }
        }
        
        .more {
          display: block;
        }
      }
    }
  }
}

.panel-res {
  background-color: transparent;
  border: 0;

  .panel-heading {
    .h3 {
      color: $primary_color_lter;

      a {
        color: #1c6000;
      }

      .sep {
        color: #aaaaaa;
      }
    }

    .label {
      font-size: 100%
    }

    &.is_stuck {
      background-color: $primary_color_dker;
      box-shadow: 0 2px 2px rgba($primary_color_dk, 0.2), 0 1px 0 rgba($primary_color_dk, 0.2);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background-image: -webkit-gradient(linear, left 10%, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.5)));
      background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 10%, rgba(40, 50, 60, 0.5), 100%);
      background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
      background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#8028323c', GradientType=0);
      filter: none;
    }
  }

  .panel-body {
    .res-desc {
      color: #002f06;
      background-color: #fff;
    }

    h4 {
      color: $primary_color;
      font-size: 130%
    }

    .table .required {
      color: #f0ad4e;
    }

    .panel-io {
      border: 0;

      .panel-heading {
        background-color: transparent;
        color: #1c6000;
      }
    }
  }
}

.alert {
  animation-name: alert-in;
  animation-duration: 100ms;
  animation-fill-mode: both;
}

.dropdown {
  .dropdown-menu {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }

  &.dropup {
    .dropdown-menu {
      top: auto;
      bottom: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    
    .caret {
      border-bottom: 4px dashed;
    }
  }
  
  .dropdown-menu {
    animation-name: out;
  }

  &.open {

    .dropdown-menu {
      animation-name: in;
      animation-duration: 200ms;
    }
  }
}

.panel {
  &.over-bd {
    .backdrop {
      z-index: 950;
      animation-name: out;
      animation-duration: 0.5s;
      animation-fill-mode: both;
    }

    .dd-over {
      position: absolute;
      z-index: 960;
      display: none;

      &.open {
        display: block;
        .dropdown-menu {
          animation-name: slide-out;
          animation-duration: 100ms;
          animation-fill-mode: both;
        }
      }

      &.right {
        right: 0;
      }
    }

    &:hover {
      .backdrop,
      .dd-over {
        display: block;
        animation-name: in;
        animation-duration: 120ms;
        animation-fill-mode: both;
      }
    }
  }
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;

  &.fade, .fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  &.in, .in {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }

  .lowest {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .btn {
    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
}

.btn-success.no-bg {
  color: #398439;
  background-color: transparent !important;

  &:hover {
    color: #fff;
    background-color: $primary_color !important;
  }
}

.modal-full {
  background-image: url("../images/black_paper.jpg");
  
  .win-over {
    z-index: -1;
    .container {
      z-index: -2;
    }
  }
  .grid-over {
    z-index: -1;
  }
  .btn-close {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    z-index: 2000;

    &:hover {
      color: #fff;
      background-color: $primary_color;
      border-color: #1c6000;
    }
  }
}

@for $i from 0 through 6 {
  .resp-lv#{$i} {
    color: darken($white_color, $i * 15%);
    i.fa-lv {
      width: $i * 15px + 10px;
    }
  }
}
i.fa-lv {
  height: 10px;
}

.pos-rlt {
  position: relative;
}

.pos-stc {
  position: static !important;
}

.pos-abt {
  position: absolute !important;
}

.pos-fix {
  position: fixed;
}
@import "bg.scss";
@import "form.scss";

