.bg {
  &.cover {
    // background-attachment: fixed;
    background-size: cover;
  }
  &.woods {
    background-position: 50%;
    background-image: url("../images/woods.jpg");
  }
}
// .bg-light-a5 {
//   background-color: rgba(255, 255, 255, 0.05);
// }

.bg-gd {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.075)));
  background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 0, rgba(40, 50, 60, 0.075), 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.075) 100%);
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 0, rgba(40, 50, 60, 0.075) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#1328323c', GradientType=0);
  filter: none;
}

.bg-gd-dk {
  background-image: -webkit-gradient(linear, left 10%, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(40, 50, 60, 0), 10%, rgba(40, 50, 60, 0.5), 100%);
  background-image: -moz-linear-gradient(top, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(40, 50, 60, 0) 10%, rgba(40, 50, 60, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#8028323c', GradientType=0);
  filter: none;
}
.bg-loading {
  background-image: url("../images/loading.svg");
  background-repeat: no-repeat;

  &.x-md-y-c {
    background-position: 20px center;
  }

  &.x-c-y-c {
    background-position: center center;
  }
}

.bg-light {
  color: #58666e;
  background-color: #edf1f2;
  // background-color: rgba(100, 100, 100, 0.1);
}

.bg-light.lt,
.bg-light .lt {
  background-color: #f3f5f6;
}

.bg-light.lter,
.bg-light .lter {
  background-color: #f6f8f8;
}

.bg-light.dk,
.bg-light .dk {
  background-color: #e4eaec;
}

.bg-light.dker,
.bg-light .dker {
  background-color: #dde6e9;
  // background-color: rgba(0, 0, 0, 0.8);
}

.bg-light.bg,
.bg-light .bg {
  background-color: #edf1f2;
}

.bg-green {
  color: #a6a8b1;
  background-color: $primary_color;
}

.bg-green.lt,
.bg-green .lt {
  background-color: #1fea00;
}

.bg-green.lter,
.bg-green .lter {
  background-color: $primary_color_lter;
}

.bg-green.dk,
.bg-green .dk {
  .h3 {
    color: #fff;
  }
  background-color: #1c6000;
}

.bg-green.dker,
.bg-green .dker {
  color: $primary_color_lter;
  background-color: #002f06;
}

.bg-green.bg,
.bg-green .bg {
  background-color: $primary_color;
}

.bg-dark {
  color: #a6a8b1;
  background-color: $dark_color;
}

.bg-dark.lt,
.bg-dark .lt {
  background-color: $dark_color_lt;
}

.bg-dark.lter,
.bg-dark .lter {
  background-color: $dark_color_lter;
}

.bg-dark.dk,
.bg-dark .dk {
  background-color: $dark_color_dk;
}

.bg-dark.dker,
.bg-dark .dker {
  background-color: $dark_color_dker;
}

.bg-dark.bg,
.bg-dark .bg {
  background-color: #3a3f51;
}

.bg-dark {
  pre {
    color: $white_color;
    background-color: $pre_color;
    border-color: $dark_color_dk;
  }

  .form-control,
  .input-group-btn button {
    color: $white_color;
    border: 1px dashed $dark_color_lter;
    background-color: $dark_color;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    &:focus {
      box-shadow: none !important;
      border-color: $white_color_dker;
      &.btn-default {
        background-color: $dark_color;
        color: $white_color_dk;
      }
    }
  }

  .preview-area {
    color: $white_color;
  }

  textarea {
    padding: 10px;
  }

  .preview-area {
    margin: 0;
    min-height: 200px;
    overflow-y: scroll;
  }

  .nav-tabs {
    background-color: $dark_color_dker;
    border-bottom: 1px solid $dark_color_lt;
    > li {
      padding-top: 8px;
      > a {
        background-color: $dark_color_dk;
        border: 1px solid $dark_color_lt;
        padding: 6px 15px;
        box-shadow: inset 0 -12px 20px -6px rgba(65, 65, 65, 0.5);

        &:hover {
          background-color: $dark_color;
          color: $primary_color_lt;
        }
      }

      &.active {
        padding-top: 0;
         > a {
          color: $white_color;
          background-color: $dark_color;
          border: 1px solid $dark_color_lt;
          border-bottom-color: transparent;
          padding: 10px 20px;
          box-shadow: none;
        }
      }

      &.left {
        padding-top: 0;
        margin-left: -1px;
        > a {
          border-radius: 0 4px 4px 0;
          padding: 6px 6px;
          border-left-color: transparent;
          box-shadow: none;
        }
      }

      .btn {
        background-color: $white_color_dker;
        &:hover {
          background-color: $white_color_dk;
          color: $dark_color_lter;
        }
      }
    }

    &.nav-sm {
      > li {
        padding-top: 4px;
        > a {
          padding: 2px 20px;
          box-shadow: inset 0 -8px 16px -6px rgba(55, 55, 55, 0.5);
        }

        &.active {
          padding-top: 0;
           > a {
            padding: 4px 25px;
            box-shadow: none;
          }
        }
      }
    }
  }

  &.panel {
    border-color: $dark_color_lt;
    .panel-heading {
      color: #fff;
      border-color: $dark_color_lt;
    }

    &.panel-reply {
      .panel-heading {
        border-bottom-width: 0;
      }

      .panel-body {
        background-image: url("../images/black_paper.jpg");
        border-radius: 0 0 4px 4px;;
      }

      .arrow {
        &.left {
          border-right-color: $dark_color_lt;
          &:after {
            border-right-color: $dark_color_dker;
          }
        }
      }

      .nav-tabs {
        background-color: transparent;
        > li {
          > a {
            background-color: $dark_color;
            
            &:hover {
              background-color: $dark_color_lt;
              color: $primary_color_lt;
            }
          }

          &.active {
            padding-top: 0;
             > a {
              background-image: url("../images/black_paper.jpg");
            }
          }
        }
      }
    }
  }

  .table-striped > tbody > tr {
    &:nth-of-type(odd) {
      background-color: lighten($dark_color, 1%);
    }
  }

  .table {

    > thead > tr, 
    > tbody > tr {

      > th {
        border-bottom: 1px;
        color: $primary_color_lt;
        background-color: $dark_color_dk;
      }

      > td {
        border-color: $dark_color_lt;
      }
      
      background-color: $dark_color;

      // &:hover {
      //   // font-weight: bold;
      //   color: $primary_color_dker;
      //   background-color: $primary_color_lter;
      // }
    }
    // > thead > tr > th {
    //   color: #fff;
    //   background-color: #151515;
    // }
  }
}

.bg-paper {
  background-image: url("../images/black_paper.jpg");

  pre {
    color: #fff;
    background-color: $dark_color_lter;
    border-color: $dark_color_dk;
  }

  &.panel {
    border-color: $dark_color_lt;
    .panel-heading {
      color: #fff;
      border-color: $dark_color_lt;
    }

    .arrow {
      &.left {
        border-right-color: $dark_color_lt;
        &:after {
          border-right-color: $dark_color_paper;
        }
      }
    }
  }
}

.no-bg {
  color: inherit;
  background-color: transparent !important;
}